.profile-page {
  margin-top: 120px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  color: #000;
  gap: 0.7rem;
  font-family: var(--roboto);
}

.missions-profile {
  flex: 1;
  text-align: center;
}

.mission-wrapper {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #919191;
  background-color: #ddd;
  border-radius: 5px;
}

.no-mission {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #919191;
  text-align: center;
  height: 3rem;
  width: 400px;
}

@media screen and (max-width: 650px) {
  .profile-page {
    width: 100%;
    flex-wrap: wrap;
  }

  .missions-profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .mission-wrapper {
    width: 90%;
    font-size: 1rem;
  }
}
