.profile-page {
  margin-top: 120px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  color: #000;
  font-family: var(--roboto);
}

.missions-profile {
  width: 50%;
}

.rockets-profile {
  width: 50%;
}

.mission-wrapper {
  margin-top: 0.5rem;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid #919191;
}