@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*:visited {
  color: #0290ff;
}

:root {
  --roboto: 'Roboto Slab', serif;
  --monserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--roboto);
  background: #fff;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .app-container {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
}
